.title {
		margin: 70px;

		text-align: center;
}

.buttons {
		margin: -40px auto 40px;

		text-align: center;
}

.btn {
		margin: 0 5px;
		padding: 10px 15px;

		border: none;
		border-radius: 5px;

		font-size: 1rem;
		color: white;

		transition: all 300ms;

		cursor: pointer;
}

.btn-add {
		background: rgb(0, 153, 255);
}

.btn-add:hover {
		background: rgb(2, 112, 162);
}

.btn-delete {
		background: rgb(200, 43, 22);
}

.btn-delete:hover {
		background: rgb(140, 29, 14);
}
