body {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		gap: 30px;

		padding: 20px 0;

		background: lightgray;

		font-family: 'SST', sans-serif;
}

#app {
		display: grid;
		gap: 50px;

		grid-template-columns: repeat(3, 1fr);
}

.container {
		display: grid;
		gap: 50px;

		width: 100%;
		margin: 0 auto;

		grid-template-columns: repeat(3, 1fr);
}

.card {
		padding: 30px;

		background: white;
		box-shadow: 5px 5px 25px #444444;
		border-radius: 15px;

		text-align: center;
}

.card-img-top {
		width: 200px;

		border-radius: 50%;
}

img {
		width: 100%;
}

.card-title-user {
		margin: 20px 0 0 0;
}
